---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<article class="article  article--post  content  typeset">

    <h1>{{ page.title }}</h1>
		{% include post-meta.html %}
    {{ content }}

  </article>

</main>

{% include site-footer.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(".full-landing-image").ripples({
  resolution: 200,
  perturbance: 0.04,
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>
